* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0 auto;
  width: 700px;
  background-color: lightblue;
}

table {
  margin: 0 auto;
  border: 3px solid black;
}

thead,
th,
tbody,
td {
  border: 1px solid black;
}

thead {
  font-size: 21px;
}

tbody {
  background-color: palegreen;
  font-size: 16px;
  text-align: left;
}

.table-1 thead th {
  border: 2px solid blueviolet;
  background-color: lightpink;
}

.table-2 thead th {
  border: 2px solid darkslateblue;
  background-color: goldenrod;
}

.main {
  text-align: center;
  margin: 0 auto;
}

.col-1 {
  width: 170px;
}

.col-2 {
  width: 480px;
}

.html-table {
  margin-top: 60px;
}
